<app-header [title]="'menu.options.films' | translate "></app-header>

<ion-content class="ion-padding">
  Aquí vemos la lista de películas.
  <ion-button [routerLink]="['/details']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">
    Ver detalle película
  </ion-button>
  <ion-button [routerLink]="['/add']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">
    <ion-icon slot="start" name="add"></ion-icon>
  </ion-button>
</ion-content>
